body {
  background: var(--bg);
  color: var(--text);
}

.app-root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

   /* protege contra notch / iOS */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.app-main {
  flex: 1;               /* 🔑 isso é o principal */
  overflow-y: auto;      /* 🔑 scroll mora aqui */
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px;
}
