.login-page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: var(--bg);
}

.login-card {
  width: 100%;
  max-width: 360px;
  background: var(--card);
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.login-card input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--divider);
}

.login-card input:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(242, 201, 76, 0.2);
}

.login-card button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: var(--primary);
  color: white;
  font-weight: bold;
}

.login-card button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.login-card button:active {
  opacity: 0.9;
  transform: scale(0.98);
}

.login-card .guest {
  text-align: center;
  font-size: 14px;
  background: var(--primary-light);
}

.logo {
  height: 10em;
  width: 10em;
  padding: 1.5em;
  margin-bottom: 1.5em;
  filter: drop-shadow(0 0 2em #F2C94C);
  animation: logo-breathe infinite 1.3s ease-in-out;
}

@keyframes logo-breathe {
  0% {
    transform: scale(1);   /* tamanho normal */
  }
  50% {
    transform: scale(1.05); /* aumenta um pouco */
  }
  100% {
    transform: scale(1);   /* volta ao normal */
  }
}