* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: page-enter 0.25s ease-out;
  will-change: transform, opacity;
}






















/*:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F2F2F2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1F1F1F;
    background-color: var(--bg);
  }

  button {
    background-color: #E36A1F;
  }
}*/